In [5]:
import pandas as pd
import requests

In [24]:
url="Resources/Clean_911 - Copy.csv"

df=pd.read_csv(url)

In [25]:
df.head(102)

,Dept,Type,YY,MMM,MM,MMM-YY,YYMM,WD,WD#,Date,Date2,HH,Time,TStamp,lat,lng,zip,km from Philly
0,EMS,BACK PAINS/INJURY,15,Dec,12,Dec-15,1512,Thu,3,10/12/2015,10/12/2015,17,17:10:52,10/12/2015 17:10,40.297876,-75.581294,19525.0,52.2
1,EMS,DIABETIC EMERGENCY,15,Dec,12,Dec-15,1512,Thu,3,10/12/2015,10/12/2015,17,17:29:21,10/12/2015 17:29,40.258061,-75.264680,19446.0,35.0
2,Fire,GAS-ODOR/LEAK,15,Dec,12,Dec-15,1512,Thu,3,10/12/2015,10/12/2015,14,14:39:21,10/12/2015 14:39,40.121182,-75.351975,19401.0,24.6
3,EMS,CARDIAC EMERGENCY,15,Dec,12,Dec-15,1512,Thu,3,10/12/2015,10/12/2015,16,16:47:36,10/12/2015 16:47,40.116153,-75.343513,19401.0,23.7
4,EMS,DIZZINESS,15,Dec,12,Dec-15,1512,Thu,3,10/12/2015,10/12/2015,16,16:56:52,10/12/2015 16:56,40.251492,-75.603350,NaN,49.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Traffic,DISABLED VEHICLE -,15,Dec,12,Dec-15,1512,Thu,3,10/12/2015,10/12/2015,21,21:56:14,10/12/2015 21:56,40.276304,-75.565024,19525.0,49.5
95,Traffic,VEHICLE ACCIDENT -,15,Dec,12,Dec-15,1512,Thu,3,10/12/2015,10/12/2015,21,21:58:11,10/12/2015 21:58,40.095320,-75.193482,19038.0,16.1
96,EMS,CVA/STROKE,15,Dec,12,Dec-15,1512,Thu,3,10/12/2015,10/12/2015,22,22:03:14,10/12/2015 22:03,40.151476,-75.396624,19403.0,29.6
97,EMS,FALL VICTIM,15,Dec,12,Dec-15,1512,Thu,3,10/12/2015,10/12/2015,22,22:24:21,10/12/2015 22:24,40.127611,-75.379915,19403.0,26.7
98,EMS,SEIZURES,15,Dec,12,Dec-15,1512,Thu,3,10/12/2015,10/12/2015,22,22:22:38,10/12/2015 22:22,40.284455,-75.574528,19525.0,50.7

In [26]:
df.to_html("911_data2.html")